<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChuyenDeVersion1_6_6.Properties.Settings.QL_THUVIENConnectionString"
            connectionString="Data Source=DESKTOP-Q8TO312\TLATFORLZ;Initial Catalog=QL_THUVIEN;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
        <add name="ChuyenDeVersion1_6_6.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-Q8TO312\TLATFORLZ;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>